In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import time
import numpy as np
from scipy.stats import itemfreq
from ClusteringPredictiveModel import ClusteringPredictiveModel

In [69]:
data = pd.read_csv("data/Road_Traffic_Fine_Management_Process_labeled.csv", sep=",")

In [73]:
data.head()

,Unnamed: 0,Case ID,Activity,Resource,Complete Timestamp,Variant,amount,article,dismissal,expense,lastSent,lifecycle:transition,matricola,notificationType,paymentAmount,points,totalPaymentAmount,vehicleClass,label
0,0,A1,Create Fine,561.0,2006/07/24 01:00:00.000,Variant 3,35.0,157.0,NIL,NaN,NaN,complete,NaN,NaN,NaN,0.0,0.0,A,negative
1,1,A1,Send Fine,NaN,2006/12/05 01:00:00.000,Variant 3,NaN,NaN,NaN,11.0,NaN,complete,NaN,NaN,NaN,NaN,NaN,NaN,negative
2,2,A100,Create Fine,561.0,2006/08/02 01:00:00.000,Variant 1,35.0,157.0,NIL,NaN,NaN,complete,NaN,NaN,NaN,0.0,0.0,A,negative
3,3,A100,Send Fine,NaN,2006/12/12 01:00:00.000,Variant 1,NaN,NaN,NaN,11.0,NaN,complete,NaN,NaN,NaN,NaN,NaN,NaN,negative
4,4,A100,Insert Fine Notification,NaN,2007/01/15 01:00:00.000,Variant 1,NaN,NaN,NaN,NaN,P,complete,NaN,P,NaN,NaN,NaN,NaN,negative

In [6]:
case_id_col = "Case ID"
event_col = "Activity"
timestamp_col = "Complete Timestamp"
label_col = 'label'
cat_cols = ['Resource', 'Variant', 'article', 'dismissal', 'lastSent', 'matricola', 'notificationType', 'vehicleClass']
numeric_cols = ['amount', 'expense', 'paymentAmount', 'points', 'totalPaymentAmount', label_col]

n_clusters = 4

In [26]:
model = ClusteringPredictiveModel(case_id_col, event_col, label_col, timestamp_col, cat_cols, numeric_cols, n_clusters=n_clusters, n_estimators=100, random_state=22, fillna=True)

In [28]:
model.fit(data.head(100))

In [54]:
preds = model.predict_proba(data.head(100))

In [59]:
preds.head()

  Case ID  negative  positive
0      A1      0.93      0.07
1  A10005      0.00      1.00
2  A10007      0.00      1.00
3  A10012      0.93      0.07
4  A10022      0.05      0.95

In [60]:
model.actual.head()

  Case ID  negative  positive
0      A1       1.0       0.0
1  A10005       0.0       1.0
2  A10007       0.0       1.0
3  A10012       1.0       0.0
4  A10022       0.0       1.0